<!doctype html>
<html>
<head>
	<title>fliers</title>
</head>
<body>
	<!------------------------------------
	| html and css to be added here
	| possibly 2x4 fliers per page? arrangement to be determinedd
	| staticfiles to be replaced with dynamic (served from sqlite3)
	-------------------------------------->
	<!--
	{% load staticfiles %}
	<img src="{% static 'flier.png' %}" />
	-->
	<img src="http://127.0.0.1:8000/media/{{ image1 }}" />
	<img src="http://127.0.0.1:8000/media/{{ image2 }}" />
</body>
</html>